{% extends 'base.html.twig' %}

{% block title %}List articles{% endblock %}

{% block body %}
    <h1>Liste des produits en vente</h1>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for produit in produits %}
                <div class="col">

                        <div class="card h-100">
                            <img src="{{ asset('uploads/'~produit.image) }}" class="card-img-top" alt="img of the article">
                            <div class="card-body">
                                <h5 class="card-title">{{ produit.nom }}</h5>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ produit.description }} </small>
                                <div>
                                    <h6 class="card-title">{{ produit.prix }}</h6>
                                </div>
                            </div>
                        </div>

                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}